.App {
  text-align: center;
  max-width: 1220px;
  margin: 0 auto;
  font-family: 'Star Jedi', Phosphate
}

.Header {
  max-width: 1220px;
  color: white;
  font-size: 58px;
  text-shadow: 5px 1px 5px red;
}

.starHeader {
  max-width: 1220px;
  color: white;
  font-size: 38px;
  text-shadow: 5px 1px 5px red;
  margin-bottom: 0;
}